@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-mono: "Geist Mono", "Courier New", Courier, monospace;
}

html {
  font-size: 15px;
}

body {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
